<div id="interactables">
  {{#if progress.borb.[0]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <div id="borb_1" class="interact" >1</div>
    </button>
  {{else}}
  <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <div id="borb_1" class="locked" >1x</div>
    </button>
  {{/if}}
  {{#if progress.borb.[1]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <div id="borb_2" class="interact" >2</div>
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <div id="borb_2" class="locked" >2x</div>
    </button>
  {{/if}}

  {{#if progress.borb.[2]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <div id="borb_3" class="interact">3</div>
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <div id="borb_3" class="locked" >3x</div>
    </button>
  {{/if}}

  {{#if progress.borb.[3]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <div id="borb_4" class="interact" >4</div>
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <div id="borb_4" class="locked" >4x</div>
    </button>
  {{/if}}

  {{#if progress.borb.[4]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <div id="borb_5" class="interact" >5</div>
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <div id="borb_5" class="locked" >5x</div>
    </button>
  {{/if}}
</div>

<!-- Modal -->
<div class="modal fade" id="borbModal" tabindex="-1" aria-labelledby="borbModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="borbModalLabel">
          Bird Breed
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="borbInformation">
        [Information goes here]
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-btn">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lockedborbModal" tabindex="-1" aria-labelledby="lockedborbModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lockedborbModalLabel">
          Locked borb!
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Unlock this borb? Placeholder</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="unlockborbBtn">Unlock</button>
      </div>
    </div>
  </div>
</div>

<script src="scripts/borbs.js"></script>