<a class="btn btn-primary" href="../home" role="button" id="back-btn">Back</a>
<div id="interactables">
  {{#if progress.borb.[0]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <img src="assets/borbs/borb_1.png" alt="borb_1.png" id="borb_1" class="interact">
    </button>
  {{else}}
  <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <img src="assets/borbs/borb_1_locked.png" alt="borb_1_locked.png" id="borb_1" class="locked">
    </button>
  {{/if}}
  {{#if progress.borb.[1]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <img src="assets/borbs/borb_2.png" alt="borb_2.png" id="borb_2" class="interact">
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <img src="assets/borbs/borb_2_locked.png" alt="borb_2_locked.png" id="borb_2" class="locked">
    </button>
  {{/if}}

  {{#if progress.borb.[2]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <img src="assets/borbs/borb_3.png" alt="borb_3.png" id="borb_3" class="interact">
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <img src="assets/borbs/borb_3_locked.png" alt="borb_3_locked.png" id="borb_3" class="locked">
    </button>
  {{/if}}

  {{#if progress.borb.[3]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <img src="assets/borbs/borb_4.png" alt="borb_4.png" id="borb_4" class="interact">
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <img src="assets/borbs/borb_4_locked.png" alt="borb_4_locked.png" id="borb_4" class="locked">
    </button>
  {{/if}}

  {{#if progress.borb.[4]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#borbModal" class="modal-btn">
        <img src="assets/borbs/borb_5.png" alt="borb_5.png" id="borb_5" class="interact">
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedborbModal" class="modal-btn">
        <img src="assets/borbs/borb_5_locked.png" alt="borb_5_locked.png" id="borb_5" class="locked">
    </button>
  {{/if}}
</div>

<!-- Modal -->
<div class="modal fade" id="borbModal" tabindex="-1" aria-labelledby="borbModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="borbModalLabel">
          Bird Breed
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="borbInformation">
        [Information goes here]
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-btn">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lockedborbModal" tabindex="-1" aria-labelledby="lockedborbModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lockedborbModalLabel">
          Locked borb!
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Unlock this borb? Placeholder</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="unlockborbBtn">Unlock</button>
      </div>
    </div>
  </div>
</div>

<script src="scripts/borbs.js"></script>