<a class="btn btn-primary" href="../home" role="button" id="back-btn">Back</a>
<div id="interactables">
  {{#if progress.hissy.[0]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#hissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_1.png" alt="hissy_1.png" id="hissy_1" class="interact">
    </button>
  {{else}}
  <button type="button" data-bs-toggle="modal" data-bs-target="#lockedhissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_1_locked.png" alt="hissy_1_locked.png" id="hissy_1" class="locked">
    </button>
  {{/if}}
  {{#if progress.hissy.[1]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#hissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_2.png" alt="hissy_2.png" id="hissy_2" class="interact">
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedhissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_2_locked.png" alt="hissy_2_locked.png" id="hissy_2" class="locked">
    </button>
  {{/if}}

  {{#if progress.hissy.[2]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#hissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_3.png" alt="hissy_3.png" id="hissy_3" class="interact">
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedhissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_3_locked.png" alt="hissy_3_locked.png" id="hissy_3" class="locked">
    </button>
  {{/if}}

  {{#if progress.hissy.[3]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#hissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_4.png" alt="hissy_4.png" id="hissy_4" class="interact">
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedhissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_4_locked.png" alt="hissy_4_locked.png" id="hissy_4" class="locked">
    </button>
  {{/if}}

  {{#if progress.hissy.[4]}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#hissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_5.png" alt="hissy_5.png" id="hissy_5" class="interact">
    </button>
  {{else}}
    <button type="button" data-bs-toggle="modal" data-bs-target="#lockedhissyModal" class="modal-btn">
        <img src="assets/hissys/hissy_5_locked.png" alt="hissy_5_locked.png" id="hissy_5" class="locked">
    </button>
  {{/if}}
</div>

<!-- Modal -->
<div class="modal fade" id="hissyModal" tabindex="-1" aria-labelledby="hissyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hissyModalLabel">
          Cat Breed
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="hissyInformation">
        [Information goes here]
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-btn">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lockedhissyModal" tabindex="-1" aria-labelledby="lockedhissyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lockedhissyModalLabel">
          Locked Hissy!
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Unlock this hissy? Placeholder</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="unlockhissyBtn">Unlock</button>
      </div>
    </div>
  </div>
</div>

<script src="scripts/hissys.js"></script>